.App {
  text-align: center;
}

.nav-wrapper > * {
  padding: .5rem;
}

.nav-right {
  list-style-type: none;
}

.nav-right li a {
  margin: 0 .5rem;
}

.form-group .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 105%;
}

.form-group .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}